<h1>Credits</h1>

<p>
    <a href="https://github.com/boronine"><strong>Alexei Boronine</strong></a>
    &mdash; original idea, JavaScript implementation, Stylus plugin, this website,
    various packaging and testing.
</p>
<p>
    <a href="https://github.com/apexskier"><strong>Cameron Little</strong></a>
    &mdash; Sass implementation.
</p>
<p>
    <a href="https://github.com/carloscabo"><strong>Carlos Cabo</strong></a>
    &mdash; PHP implementation.
</p>
<p>
    <a href="https://github.com/dvdplm"><strong>dvdplm</strong></a>
    &mdash; Rust implementation.
</p>
<p>
    <a href="https://github.com/Eiyeron"><strong>Florian Dormont</strong></a>
    &mdash; Haxe implementation.
</p>
<p>
    <a href="https://github.com/lahwran"><strong>lahwran</strong></a>
    &mdash; new Java implementation.
</p>
<p>
    <a href="https://github.com/tasugo"><strong>Manuel Gómez</strong></a>
    &mdash; PHP testing.
</p>
<p>
    <a href="https://modalduality.org/"><strong>modal/duality</strong></a>
    &mdash; Haskell implementation.
</p>
<p>
    <a href="https://github.com/kuon"><strong>Nicolas Goy</strong></a>
    &mdash; Elm implementation.
</p>
<p>
    <a href="https://github.com/Ragzouken"><strong>Mark Wonnacott</strong></a>
    &mdash; original Lua implementation, C# implementation.
</p>
<p>
    <a href="https://github.com/mity"><strong>Martin Mitáš</strong></a>
    &mdash; C implementation.
</p>
<p>
    <a href="https://github.com/stphnclysmth"><strong>S. Clay Smith</strong></a>
    &mdash; Swift implementation.
</p>
<p>
    <a href="https://github.com/Pimm"><strong>Pimm Hogeling</strong></a>
    &mdash; original Java implementation.
</p>
<p>
    <a href="https://github.com/radubogdan"><strong>Radu-Bogdan Croitoru</strong></a>
    &mdash; Ruby implementation.
</p>
<p>
    <a href="https://github.com/mcginleyr1"><strong>Rob McGinley</strong></a>
    &mdash; Python implementation.
</p>
<p>
    <a href="https://github.com/tallada"><strong>Roger Tallada</strong></a>
    &mdash; Objective-C implementation.
</p>
<p>
    <a href="https://github.com/roryokane"><strong>Rory O’Kane</strong></a>
    &mdash; fixes and improvements to the color picker demo on the homepage.
</p>