<h2>SyntaxEnvy - random syntax highlighting themes</h2>

<p>HSLuv is used in SyntaxEnvy to generate pleasing color palettes that have consistent contrast.</p>

<p>
    <a href="https://www.syntaxenvy.com"><img src="/static/images/syntaxenvy.png" width="250"/></a>
</p>

<h2>Seaborn - statistical data visualization library</h2>

<p>Seaborn uses HSLuv to generate color palettes for its charts.</p>

<p>
    <a href="http://seaborn.pydata.org/"><img src="/static/images/seaborn.png" width="250"/></a>
</p>

<h2>Rebelle - watercolor and acrylic paint software</h2>

<p>Rebelle uses HSLuv as one of its options in the color picker.</p>

<p>
    <a href="http://seaborn.pydata.org/"><img src="/static/images/rebelle.png" width="250"/></a>
</p>
