<h2>Inkscape - open source vector graphics</h2>

<p><a href="https://inkscape.org/">Inkscape</a> uses HSLuv as one of the options in its color picker.</p>

<p>
    <a href="https://inkscape.org/"><img src="/static/images/inkscape.png" alt="Inkscape screenshot" width="250"/></a>
</p>

<h2>Polaris - design system by Shopify</h2>

<p><a href="https://polaris.shopify.com/">Polaris</a> uses HSLuv to generate its color palette with consistent contrast ratios.</p>

<p>
    <a href="https://polaris.shopify.com/"><img src="/static/images/polaris.png" alt="Polaris homepage screenshot" width="250"/></a>
</p>

<h2>SyntaxEnvy - random syntax highlighting themes</h2>

<p>HSLuv is used in <a href="https://www.syntaxenvy.com">SyntaxEnvy</a> to generate pleasing color palettes that have consistent contrast.</p>

<p>
    <a href="https://www.syntaxenvy.com"><img src="/static/images/syntaxenvy.png" alt="SyntaxEnvy screenshot" width="250"/></a>
</p>

<h2>72yonk - Semantic Colour System</h2>

<p><a href="https://www.semanticcoloursystem.com/">72yonk</a> uses HSLuv to generate light and dark Figma themes.</p>

<p>
    <a href="https://www.semanticcoloursystem.com/"><img src="/static/images/72yonk.png" alt="72yonk homepage screenshot" width="250"/></a>
</p>

<h2>Color Studio - theme builder</h2>

<p><a href="https://github.com/bernaferrari/color-studio">Color Studio</a> uses HSLuv to help you design dark UI themes.</p>

<p>
    <a href="https://github.com/bernaferrari/color-studio"><img src="/static/images/color-studio.png" alt="Color Studio screenshot" width="250"/></a>
</p>

<h2>Seaborn - statistical data visualization library</h2>

<p><a href="http://seaborn.pydata.org/">Seaborn</a> uses HSLuv to generate color palettes for its charts.</p>

<p>
    <a href="http://seaborn.pydata.org/"><img src="/static/images/seaborn.png" alt="Seaborn screenshot" width="250"/></a>
</p>

<h2>Rebelle - watercolor and acrylic paint software</h2>

<p><a href="https://www.escapemotions.com/">Rebelle</a> uses HSLuv as one of its options in the color picker.</p>

<p>
    <a href="https://www.escapemotions.com/"><img src="/static/images/rebelle.png" alt="Rebelle screenshot" width="250"/></a>
</p>
