<!doctype html>

<head>
    <meta charset="utf-8">
    <title>{{{ title }}} - Human-friendly HSL</title>
    <meta name="description" content="HSLuv - An alternative to HSL for programmatic color generation">
    <meta name="author" content="Alexei Boronine">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/min.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/favicon.png"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31795350-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-31795350-1');
    </script>
</head>

<body class="{{ bodyClass }}">
<div id="header">
    <nav class="container" role="navigation">
        <div class="github-button">
            <iframe src="http://ghbtns.com/github-btn.html?user=hsluv&amp;repo=hsluv&amp;type=watch&amp;count=true"
                    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </div>
        <a class="logo" href="/">HSLuv</a>
        <a href="/comparison/">Comparison</a>
        <a href="/implementations/">Implementations</a>
        <a href="/math/">Math</a>
        <a href="/examples/">Examples</a>
        <a href="/credits/">Credits</a>
    </nav>
</div>

<div class="container">
    {{{ content }}}
    <div class="row">
        <footer class="col c12">
            © Copyright 2020 by <a href="http://www.boronine.com">Alexei Boronine</a>.
        </footer>
    </div>
</div>

</body>
