<!doctype html>

<head>
    <meta charset="utf-8">
    <title>{{{ title }}} - Human-friendly HSL</title>
    <meta name="description" content="HUSL - An alternative to HSL for programmatic color generation">
    <meta name="author" content="Alexei Boronine">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/min.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/favicon.png"/>
</head>

<body class="{{ bodyClass }}">
<div id="header">
    <nav class="container" role="navigation">
        <div class="github-button">
            <iframe src="http://ghbtns.com/github-btn.html?user=husl-colors&amp;repo=husl&amp;type=watch&amp;count=true"
                    allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </div>
        <a class="logo" href="/">HUSL</a>
        <a href="/comparison/">Comparison</a>
        <a href="/implementations/">Implementations</a>
        <a href="/math/">Math</a>
        <a href="/syntax/">Demo</a>
    </nav>
</div>

<div class="container">
    {{{ content }}}
    <div class="row">
        <footer class="col c12">
            © Copyright 2016 by <a href="http://www.boronine.com">Alexei Boronine</a>.
        </footer>
    </div>
</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31795350-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
