p
  padding-left 10px
  padding-right 10px

footer
	margin-bottom 50px
	margin-top 100px

demoheight = 550px

.dark
	height demoheight
	position absolute
	width 100%
	background-color #1B1B1B
	header.top
		margin 40px
		margin-bottom 70px
		h1
			color #555
			text-align center
			font-size 120px
			line-height 140px
			margin 0px
		h2
			text-align center
			font-size 30px
			margin 0px

.light
	position absolute
	top demoheight + 100px
	width 100%

abbr.initialism
	/* I can do my own capitalization, thank you :) */
	text-transform none

h2, h1
	margin 30px

h4
	margin 10px

.center
	text-align center

img.demo
	margin-bottom 20px

div.demo
	padding 5px
	color white

#demo1, #demo2
	margin-bottom 10px

#rainbow-husl div, #rainbow-hsl div
	height 20px

#picker
	position relative
	width 610px
	height 200px
	margin 0 auto
	color #555
	canvas
		position absolute
		cursor crosshair
	.variants
		position absolute
		width 360px
		top -30px
		text-align center
		.choice
			color #555
			&.selected
				color #888
	.slider
		position absolute
		top 10px
		left 370px
	.swatch
		position absolute
		top 0px
		right 0px
		width 160px
		height 160px
		background-color #555
	.coordinates
		position absolute
		top 15px
		left 390px
		div
			position relative
			.c
				position absolute
				left 20px
				color #888
	.hex
		color #888
		position absolute
		bottom 5px
		right 5px
	.scope
		cursor crosshair
		position absolute
		border 2px solid white
		border-radius 5px
		height 6px
		width 6px

.navbar
	position absolute
	top demoheight
	z-index 100
	&.affix
		top 0px
		position fixed
	.twitter-share-button
		padding-top 10px

.ui-widget:active
	outline none

.ui-slider
	position relative
	text-align left
	.ui-slider-handle
		position absolute
		z-index 2
		width 10px
		height 10px
		cursor default
		background-color white

.ui-slider-vertical
	width 6px
	border-radius 3px
	height 180px
	background-color #555
	.ui-slider-handle
		border-radius 5px
		margin-left -2px
		margin-bottom -5px
	.ui-slider-range
		left 0
		width 100%
